@page "{namespace}/{type}/{hashCode:int}"
@model XObjectModel
@{
    var xtype = Model.XObject.XGetType();
    int hashCode = Model.XObject.XGetHashCode();
    string type = xtype.XName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@type</title>
</head>
<body>
    <fieldset>
        <legend>Fields :</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                <tr>
                    @foreach (var xfield in xtype.XGetFields())
                    {
                        @if (xfield.XIsStatic == false)
                        {
                            @Html.PartialAsync("_XFieldInfo", xfield);
                        }
                    }
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
    <fieldset>
        <legend>Properties :</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                <tr>
                    @foreach (var xproperty in xtype.XGetProperties())
                    {
                        @if (true)
                        {
                            @Html.PartialAsync("_XPropertyInfo", xproperty);
                        }
                    }
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
    <time datetime="@DateTime.Now">@DateTime.Now</time>
    <progress />
</body>
</html>