@page "/using/"
@model XUsingModel

@using XWebApplication.Models.XSystem
@using XWebApplication.Models.XSystem.XReflection

@{
    ViewData["Title"] = Model.XTitle;
}
@if (Model.XEntryType != null)
{
    @if (Model.XEntryMethods.Length > 1 && (Model.Using == null || Model.Using == ""))
    {
        <form method="post" asp-page-handler="Using" asp-route-ReturnUrl="@Model.ReturnUrl">
            <select asp-for="Using" autofocus required>
                <optgroup label="@_XTypeModel.XToString(Model.XEntryType)">
                    @foreach (var m in Model.XEntryMethods)
                    {
                        <option value="@m.XName">@_XMethodInfoModel.XToString(m)</option>
                    }
                </optgroup>
            </select>
            <input type="submit" value="Sign in" />
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="" asp-route-ReturnUrl="@Model.ReturnUrl">
            @if (Model.XEntryMethod != null)
            {
                <input type="hidden" asp-for="Using" />
                @await Component.InvokeAsync("_XMethodInfo", new { xmethod = Model.XEntryMethod } );
                <input type="submit" value="Sign in" />
            }
        </form>
    }
}