@model XSystem.XReflection.XFieldInfo

@{
    string defaultValue = "";
    string required = "";
    string name = Model.XName;
    string type = "";
}

<td>
    <label for="@name">@name</label>
</td>
<td>
    @if (Model.XFieldType.XIsEnum)
    {
        <select name="@name" @required>
            <optgroup label="@Model.XFieldType.XName">
                @foreach (string enumName in Model.XFieldType.XGetEnumNames())
                {
                    <option value="@enumName">@enumName</option>
                }
            </optgroup>
        </select>
    }
    else if(Model.XFieldType.Equals(typeof(string[])))
    {
        <textarea name="@name" @required />
    }
    else
    {
        @if (Model.XFieldType.Equals(typeof(bool)))
        {
            type = "checkbox";
        }
        else if (Model.XFieldType.Equals(typeof(System.Drawing.Color)))
        {
            type = "color";
        }
        else if (Model.XFieldType.Equals(typeof(DateTime)))
        {
            type = "datetime";
        }
        else if (Model.XFieldType.Equals(typeof(System.IO.File)))
        {
            type = "file";
        }
        else if (Model.XFieldType.Equals(typeof(float)))
        {
            type = "number";
        }
        else if (Model.XFieldType.Equals(typeof(int)))
        {
            type = "number";
        }
        else if (Model.XFieldType.Equals(typeof(string)))
        {
            type = "text";
        }
        else if (Model.XFieldType.Equals(typeof(Uri)))
        {
            type = "url";
        }
        <input name="@name" type="@type" defaultValue="@defaultValue" @required />
    }
</td>
