@model XSystem.XReflection.XParameterInfo

@{
    string defaultValue = "";
    string required = "";
    string name = Model.XName;
    string type = "";
    bool isInput = true;
}

<td>
    <label for="@name">@name</label>
</td>
<td>
    @if (Model.XParameterType.XIsEnum)
    {
        <select name="@name" @required>
            <optgroup label="@Model.XParameterType.XName">
                @foreach (string enumName in Model.XParameterType.XGetEnumNames())
                {
                    <option value="@enumName">@enumName</option>
                }
            </optgroup>
        </select>
    }
    else if (Model.XParameterType.Equals(typeof(string[])))
    {
        <textarea name="@name" @required />
    }
    else
    {
        @if (Model.XParameterType.Equals(typeof(bool)))
        {
            type = "checkbox";
        }
        else if (Model.XParameterType.Equals(typeof(System.Drawing.Color)))
        {
            type = "color";
        }
        else if (Model.XParameterType.Equals(typeof(DateTime)))
        {
            type = "datetime";
        }
        else if (Model.XParameterType.Equals(typeof(System.IO.File)))
        {
            type = "file";
        }
        else if (Model.XParameterType.Equals(typeof(float)))
        {
            type = "number";
        }
        else if (Model.XParameterType.Equals(typeof(int)))
        {
            type = "number";
        }
        else if (Model.XParameterType.Equals(typeof(string)))
        {
            type = "text";
        }
        else if (Model.XParameterType.Equals(typeof(Uri)))
        {
            type = "url";
        }
        else
        {
            isInput = false;
        }

        @if (isInput)
        {
            <input name="@name" type="@type" defaultValue="@defaultValue" @required />
        }
        else
        {
            @Html.PartialAsync("_XRef", Model.XParameterType);
        }
    }
</td>