@model XSystem.XReflection.XPropertyInfo

@{
    string defaultValue = "";
    string required = "";
    string name = Model.XName;
    string type = "";
    bool isInput = true;
    var text = Util.XToDisplayString(Model);
}

<td>
    <label for="@name">@text</label>
</td>
<td>
    <form name="@name" method="post">
        @if (Model.XPropertyType.XIsEnum)
        {
            text = Util.XToDisplayString(Model.XPropertyType);
            <select name="@name" @required>
                <optgroup label="@text">
                    @foreach (string enumName in Model.XPropertyType.XGetEnumNames())
                    {
                        text = Util.XToDisplayString(enumName);
                        <option value="@enumName">@text</option>
                    }
                </optgroup>
            </select>
        }
        else if (Model.XPropertyType.Equals(typeof(string[])))
        {
            <textarea name="@name" @required />
        }
        else
        {
            @if (Model.XPropertyType.Equals(typeof(bool)))
            {
                type = "checkbox";
            }
            else if (Model.XPropertyType.Equals(typeof(System.Drawing.Color)))
            {
                type = "color";
            }
            else if (Model.XPropertyType.Equals(typeof(DateTime)))
            {
                type = "datetime";
            }
            else if (Model.XPropertyType.Equals(typeof(System.IO.File)))
            {
                type = "file";
            }
            else if (Model.XPropertyType.Equals(typeof(float)))
            {
                type = "number";
            }
            else if (Model.XPropertyType.Equals(typeof(int)))
            {
                type = "number";
            }
            else if (Model.XPropertyType.Equals(typeof(string)))
            {
                type = "text";
            }
            else if (Model.XPropertyType.Equals(typeof(Uri)))
            {
                type = "url";
            }
            else
            {
                isInput = false;
            }

            @if (isInput)
            {
                <input name="@name" type="@type" defaultValue="@defaultValue" @required />
            }
            else
            {
                @await Html.PartialAsync("_XRef", Model.XPropertyType);
            }
        }
        <input type="submit" title="Set" value="Set" />
    </form>
</td>
