@model object
@using XSystem
@using XSystem.XReflection

@{
    string defaultValue = "";
    string required = "";
    string name = "";
    XType xtype = null;
    string type = "";
    bool isInput = true;
    var text = "";
    var css = "";
    string data = "";
    string id = "";
    string tabIndex = "";
    string accessKey = "";
    string spellcheck = "";
    if ((Model as XParameterInfo) != null)
    {
        xtype = ((XParameterInfo)Model).XParameterType;
        name = Util.XToName((XParameterInfo)Model);
        text = Util.XToDisplayString((XParameterInfo)Model);
        css = Util.XToCSSClass((XParameterInfo)Model);
        data = string.Format("data-{0}={1}", Util.XToData((XParameterInfo)Model), Util.XToName((XParameterInfo)Model));
        id = "" + ((XParameterInfo)Model).XPosition;
        tabIndex = "" + ((XParameterInfo)Model).XPosition;
        accessKey = Util.XToAccessKey((XParameterInfo)Model, ViewData);
    }
    else if ((Model as XFieldInfo) != null)
    {
        xtype = ((XFieldInfo)Model).XFieldType;
        name = Util.XToName((XFieldInfo)Model);
        text = Util.XToDisplayString((XFieldInfo)Model);
        css = Util.XToCSSClass((XFieldInfo)Model);
        data = string.Format("data-{0}={1}", Util.XToData((XFieldInfo)Model), Util.XToName((XFieldInfo)Model));
        id = "" + ((XFieldInfo)Model).XGetHashCode();
        accessKey = Util.XToAccessKey((XFieldInfo)Model, ViewData);
        tabIndex = Util.XToTabIndex((XFieldInfo)Model, ViewData);
    }
    else if ((Model as XPropertyInfo) != null)
    {
        xtype = ((XPropertyInfo)Model).XPropertyType;
        name = Util.XToName((XPropertyInfo)Model);
        text = Util.XToDisplayString((XPropertyInfo)Model);
        css = Util.XToCSSClass((XPropertyInfo)Model);
        data = string.Format("data-{0}={1}", Util.XToData((XPropertyInfo)Model), Util.XToName((XPropertyInfo)Model));
        id = "" + ((XPropertyInfo)Model).XGetHashCode();
        accessKey = Util.XToAccessKey((XPropertyInfo)Model, ViewData);
        tabIndex = Util.XToTabIndex((XPropertyInfo)Model, ViewData);
    }
    data += (" data-namespace=" + Util.XToName(xtype.XNamespace));
    data += (" data-type=" + Util.XToName(xtype));

    int index = text.IndexOf(accessKey, StringComparison.OrdinalIgnoreCase);
}

<label class="@css" for="@name" @required @Html.Raw(data)>
    @text.Substring(0, index)<mark><u>@text[index]</u></mark>@text.Substring(index + 1)<mark><sup>[@index]</sup></mark>
</label>
@if (xtype.XIsEnum)
{
    <select class="@css" name="@name" @required @Html.Raw(data) id="@id" tabndex="@tabIndex" accesskey="@accessKey">
        <optgroup label="@Util.XToDisplayString(xtype)">
            @foreach (string enumName in xtype.XGetEnumNames())
            {
                <option value="@Util.XToName(enumName)">@Util.XToDisplayString(enumName)</option>
            }
        </optgroup>
    </select>
}
else if (xtype.Equals(typeof(string[])))
{
    spellcheck = "spellcheck";
    <textarea class="@css" name="@name" @required  @Html.Raw(data) id="@id" tabndex="@tabIndex" accesskey="@accessKey" @spellcheck />
}
else
{
    @if (xtype.Equals(typeof(bool)))
    {
        type = "checkbox";
    }
    else if (xtype.Equals(typeof(System.Drawing.Color)))
    {
        type = "color";
    }
    else if (xtype.Equals(typeof(DateTime)))
    {
        type = "datetime";
    }
    else if (xtype.Equals(typeof(System.IO.File)))
    {
        type = "file";
    }
    else if (xtype.Equals(typeof(float)))
    {
        type = "number";
    }
    else if (xtype.Equals(typeof(int)))
    {
        type = "number";
    }
    else if (xtype.Equals(typeof(string)))
    {
        spellcheck = "spellcheck";
        type = "text";
    }
    else if (xtype.Equals(typeof(Uri)))
    {
        type = "url";
    }
    else
    {
        isInput = false;
    }

    @if (isInput)
    {
        <input name="@name" type="@type" defaultValue="@defaultValue" class="@css" @required  @Html.Raw(data) id="@id" tabndex="@tabIndex" accesskey="@accessKey" @spellcheck />
    }
    else
    {
        @await Html.PartialAsync("_XRef", xtype);
    }
}
