@model object
@using XSystem
@using XSystem.XReflection

@{
    string name = "";
    XType xtype = null;
    var text = "";
    var css = "";
    string data = "";
    string id = "";
    string tabIndex = "";
    string accessKey = "";
    XArray xarray = null;
    XObject xobject = null;
    XUtil.XFromViewData(out xobject, ViewData);
    bool isStatic = xobject == null;
    if (Model is XFieldInfo xfieldInfo)
    {
        xtype = xfieldInfo.XFieldType.XGetElementType();
        name = XUtil.XToName(xfieldInfo);
        text = XUtil.XToDisplayString(xfieldInfo);
        css = XUtil.XToCSSClass(xfieldInfo);
        data = string.Format("data-{0}={1}", XUtil.XToData(xfieldInfo), XUtil.XToName(xfieldInfo));
        id = "" + xfieldInfo.XGetHashCode();
        accessKey = XUtil.XToAccessKey(xfieldInfo, ViewData);
        tabIndex = XUtil.XToTabIndex(xfieldInfo, ViewData);
        if(isStatic)
        {
            xarray = xfieldInfo.XGetValue(null) as XArray;
        }
        else
        {
            xarray = xfieldInfo.XGetValue(xobject) as XArray;
        }
    }
    else if (Model is XPropertyInfo xpropertyInfo)
    {
        xtype = xpropertyInfo.XPropertyType.XGetElementType();
        name = XUtil.XToName(xpropertyInfo);
        text = XUtil.XToDisplayString(xpropertyInfo);
        css = XUtil.XToCSSClass(xpropertyInfo);
        data = string.Format("data-{0}={1}", XUtil.XToData(xpropertyInfo), XUtil.XToName(xpropertyInfo));
        id = "" + xpropertyInfo.XGetHashCode();
        accessKey = XUtil.XToAccessKey(xpropertyInfo, ViewData);
        tabIndex = XUtil.XToTabIndex(xpropertyInfo, ViewData);
        if (isStatic)
        {
            xarray = xpropertyInfo.XGetValue(null) as XArray;
        }
        else
        {
            xarray = xpropertyInfo.XGetValue(xobject) as XArray;
        }
    }
    data += (" data-namespace=" + XUtil.XToName(xtype.XNamespace));
    data += (" data-type=" + XUtil.XToName(xtype));

    int index = text.IndexOf(accessKey, StringComparison.OrdinalIgnoreCase);
    List<XType> xtypes = null;
    Dictionary<string, List<XFieldInfo>> xfieldSet = null;
    XUtil.XToFieldSet(xtype.XGetFields(), out xtypes, out xfieldSet, false);
    List<XType> xtypes2 = null;
    Dictionary<string, List<XPropertyInfo>> xpropSet = null;
    XUtil.XToPropertySet(xtype.XGetProperties(), out xtypes2, out xpropSet, false);
}

<table class="@css" @Html.Raw(data) id="@id" tabndex="@tabIndex" accesskey="@accessKey">
    <caption>
        @text.Substring(0, index)<mark><u>@text[index]</u></mark>@text.Substring(index + 1)<mark><sup>[@index]</sup></mark>
    </caption>
    @foreach (XType t in xtypes)
    {
        <colgroup>
            @foreach (XFieldInfo f in xfieldSet[t.XFullName])
            {
                <col />
            }
        </colgroup>
        <colgroup>
            @foreach (XPropertyInfo p in xpropSet[t.XFullName])
            {
                <col />
            }
        </colgroup>
    }
    <thead>
        <tr>
            @foreach (XType t in xtypes)
            {
                @foreach (XFieldInfo f in xfieldSet[t.XFullName])
                {
                    <th>
                        @XUtil.XToDisplayString(f);
                    </th>
                }
                @foreach (XPropertyInfo p in xpropSet[t.XFullName])
                {
                    <th>
                        @XUtil.XToDisplayString(p);
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < xarray.XLength; i++)
        {
            XObject item = xarray.XGetValue(i);
            <tr>
                @foreach (XType t in xtypes)
                {
                    @foreach (XFieldInfo f in xfieldSet[t.XFullName])
                    {
                        XObject value = f.XGetValue(item);
                        <td>
                            @XUtil.XToDisplayString(value);
                        </td>
                    }
                    @foreach (XPropertyInfo p in xpropSet[t.XFullName])
                    {
                        XObject value = p.XGetValue(item);
                        <td>
                            @XUtil.XToDisplayString(value);
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>