@model XSystem.XType
@using XSystem.XReflection
@using  XSystem
@{
    XUtil.XToViewData(Model, ViewData);
    XObject xobject = null;
    XUtil.XFromViewData(out xobject, ViewData);
    bool isStatic = xobject == null;
    List<XType> xtypes = null;
    Dictionary<string, List<XFieldInfo>> xfieldSet = null;
    XUtil.XToFieldSet(Model.XGetFields(), out xtypes, out xfieldSet, isStatic);
    List<XFieldInfo> xfields = null;
    XUtil.XToFields(xtypes, xfieldSet, out xfields);
    List<XType> xtype2s = null;
    Dictionary<string, List<XPropertyInfo>> xpropSet = null;
    XUtil.XToPropertySet(Model.XGetProperties(), out xtype2s, out xpropSet, isStatic);
    List<XPropertyInfo> xprops = null;
    XUtil.XToProperties(xtype2s, xpropSet, out xprops);
    XUtil.XToAccessKeyMap(xfields.ToArray(), xprops.ToArray(), ViewData);
    XUtil.XToTabIndexMap(xfields.ToArray(), xprops.ToArray(), ViewData);
    Dictionary<string, List<string>> fieldData = null;
    XUtil.XToData(xfields.ToArray(), xobject, out fieldData);
    Dictionary<string, List<string>> propertyData = null;
    XUtil.XToData(xprops.ToArray(), xobject, out propertyData);
}

@foreach (XType xtype in xtypes)
{
    <fieldset>
        <legend>@XUtil.XToDisplayString(xtype)</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                @foreach (var xfield in xfieldSet[xtype.XFullName])
                {
                    <tr>
                        <td></td>
                        <td>
                            @await Html.PartialAsync("_XSystem/_XReflection/_XFieldInfo", xfield);
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
}
@foreach (XType xtype in xtype2s)
{
    <fieldset>
        <legend>@XUtil.XToDisplayString(xtype)</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                @foreach (var xproperty in xpropSet[xtype.XFullName])
                {
                    <tr>
                        <td></td>
                        <td>
                            @await Html.PartialAsync("_XSystem/_XReflection/_XPropertyInfo", xproperty);
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
}
<time datetime="@DateTime.Now">@DateTime.Now</time>
<progress />
<data value="type" hidden>
    <data value="property-info">
        @foreach(var pair in propertyData)
        {
            <data value="@pair.Key">@pair.Value</data>
        }
    </data>
    <data value="field-info">
        @foreach (var pair in fieldData)
        {
            <data value="@pair.Key">@pair.Value</data>
        }
    </data>
</data>